<html>
  <head>
    <title>Sudo's Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;" />
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext,vietnamese"
      rel="stylesheet"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="emoji/css/messenger.min.css" />
    <link rel="stylesheet" href="css/highlight/tomorrow-night.css" />
    <link rel="stylesheet" href="css/fontello.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header id="user_top" class="cf ">
      <figure id="user_logo" class="active">
        <a href="https://thefullsnack.com">The Full Snack Developer</a>
      </figure>
      <h2><a href="https://thefullsnack.com">The Full Snack Developer</a></h2>
      <h4><span class="name_head">by</span> Sudo</h4>
      <h3>
        Tôi xuất thân con nhà <a href="/posts/sketches">vẽ</a>, nhưng thích đi
        <a href="https://github.com/huytd">code</a>. Hiện tôi đang làm kĩ sư mặt
        tiền cho một tập đoàn tài chính ở thung lũng túi nâng silicon.
      </h3>
      <div class="header-top">
        <a
          href="http://eepurl.com/cN5YDv"
          rel="noopener noreferrer"
          target="blank"
          >Theo dõi blog này</a
        >
        | <a href="/posts/friend-sites.html">Một số blog hay nên đọc</a> |
        <a href="https://www.goodreads.com/review/list/53058368?shelf=read"
          >Sách mình đang đọc</a
        >
      </div>
      <div class="searchbox">
        <div class="search">
          <form action="https://www.google.com/search" method="get">
            <input type="text" name="q" placeholder="Bạn muốn tìm gì?" />
            <input
              type="hidden"
              name="as_sitesearch"
              value="thefullsnack.com"
            />
          </form>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="main">
        {%content%}
      </div>
    </div>
  </body>
</html>
