<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sudo's Notes</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;" />
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0" />
    <meta name="description" content="development, frontend" />
    <meta
      name="google-site-verification"
      content="google-site-verification=kcDFRw1y16XjxYUB-datjB6MQB-CsjgE9h6lCalynC4"
    />

    <!-- Google Analytics -->
    <script>
      window.ga =
        window.ga ||
        function() {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga('create', 'UA-120719369-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <!-- End Google Analytics -->

    <link href="css/theme.css" rel="stylesheet" type="text/css" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header id="user_top" class="cf ">
      <figure id="user_logo" class="active">
        <a href="https://thunguyen1012.github.io/">Sudo's Notes</a>
      </figure>
      <h2><a href="https://thunguyen1012.github.io/">Sudo's Notes</a></h2>
    </header>
    <div class="container">
      <div class="main">
        {%content%}
      </div>
    </div>
  </body>
</html>
